<div>
  Link title
</div>
<div>
<%= l.text_field(:title) %>
</div>

<div>
  Link itself
</div>
<div>
  <%= l.text_field(:link) %>
</div>    
    
<div>
  <%= l.hidden_field :user_id, :value => session[:user_id] %>
</div>