<h1>Links</h1>

Yout id is: <%= session[:user_id] %>

<div>
  <%= link_to("Add link", {:action => "new", :user_id => session[:user_id]}) %>
</div>

<div>
  <% @links.each do |l| %>    
      <% if l.link && l.link.match(/[[\w]+.]*[\w^\d]{2,4}/)%>
        <%  if l.title.empty? %>
          <% displayed_text = link_to l.link, url_with_protocol(l.link), {:target => "_blank"} %>
        <% else %>
          <% displayed_text = link_to l.title, url_with_protocol(l.link), {:target => "_blank"} %>
        <% end %>
      <% else %>
        <% displayed_text = l.title %>
      <% end #if%>
      <%=  render(:partial => "displayed_link_form", :locals => {:displayed_text => displayed_text, :l => l}) %>
  <% end #each%>
</div>


<div>
  <%= link_to("Logout", {:controller => "access", :action => "logout"}) %>
</div>